[user]
    email = hbobenicio@gmail.com
    name = hbobenicio
    
    # https://gist.github.com/hbobenicio/1e86275064f8273827e6ac2358044986
    signingkey = AE4607A047715B6B
    
[core]
    editor = vim
[gpg]
    # sudo apt install gpg gnupg2
    # git config --global gpg.program gpg2
    program = gpg2
[commit]
    # git config --global commit.gpgsign true
    gpgsign = true
        
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
[mergetool]
    # don't create backup *.orig files
    keepBackup = false    
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    #  - $MERGED is the partially merged file with the merge conflict information in it.
    #  - $BASE is the shared commit ancestor of $LOCAL and $REMOTE, this is to say the file
    #    as it was when the branch containing $REMOTE was originally created.
    #
    #cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    #
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
